@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #18130e;
    --color-text-white: #fffaf5;
    --color-primary: #e3c9b2;
    --color-secondary: #e3d3b2;
  }

  html {
    font-size: 62.5%;
  }
}
